*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Regard";
  src: url(../fonts/Regards.ttf);
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:#F11585;
  font-weight: 600;
}

p, h1, h2, h3, h4, h5, h6, a, button{
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration-line: none;
  color:#F11585;
}

ul{
  list-style-type: none;
}

header{
  box-shadow: 0px -20px 50px #F11585;
  overflow: hidden;
  grid-area: header;
  width: 100%;
}

footer{
  grid-area: footer;
  background-color: #F11585;
  color: white;
}

p, ul{
  margin-bottom: 0rem;  
  padding: 0px;
}

/* INDEX */

.oferta{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F11585;
  color: white;
  font-size: 18px;
  padding: 8px 40px;
}

.navCategorias{
  width: 100%;
  justify-content: center; 
  flex-wrap: wrap;
  background-color: white;
  font-size: 18px;
}

.navbar-nav{
  justify-content: space-between;
  width: 100%;
  padding: 0px 30px;
}

.nav-link{    
  margin: 0px 20px;
  color: #F11585;
}

.nav-link:hover{
  color: #F11585;
}

.navbar-nav form input, .navbar-nav form button{
  display: none;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  width: 100%;
  height: 80px;
  background-color: white;
  font-size: 24px;
}

.search{
  width: 93px;
}

.logo{
  align-items: center;
}

.iconosMenu{
  display: flex;
  justify-content: space-between;
  width: 93px;
}

.flechasBanner{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  color: white;
  font-size: 35px;
}

.flechaD{  
  justify-content: end;
}

.carousel .carousel-indicators button{
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.seccionProductos{
  margin: 0px 40px 30px 40px;
}

.titulo{
  font-family: "regard";  
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  padding: 20px 0px;
}

.artProductos{    
  display: flex;
  justify-content: space-between;
}

.producto{
  width: 306px;
  text-align: center;    
  font-size: 16px;
}

.producto img{
  padding-bottom: 8px;
}

.producto p{
  text-align: center;
  width: 90%;
}

.frase{
  background-color: #F11585;
  text-align: center;
  min-height: 295px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloFrase{
  font-family: "regard";  
  font-weight: 900;
  font-size: 40px;
  padding: 0px 0px 25px 0px;
}

.textoFrase{
  font-size: 20px;
  padding: 0px 40px;
  max-width: 967px;
}

.info{
  height: 266px;
  margin: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoTarjeta{
  height: 156px;
  width: 169px;
  text-align: center;
  margin: 0px 40px;
}

.infoTarjeta h4{  
  font-weight: 700;
}

.infoTarjeta img{
  padding-bottom: 21px;
}

.articulosSecc{
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
}

.tarjetaArticulo{
  width: 413px;
  position: relative;
}

.tarjetaArticulo a img{
  padding-bottom: 18px;
}

.tarjetaArticulo h5{
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 12px;
}

.textoTarjeta{
  width: 418px;
  padding-bottom: 12px;
}

.leerMas{
  font-weight: 700;
}

.fecha{
  height: 60px;
  width: 60px;
  background-color: #fdbfde;
  color: #F11585;
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fecha1{
  font-size: 27px;
}

.fecha2{
  font-size: 19px;
}

.botonBlog{
  margin: 30px 40px;
  display: flex;
  justify-content: center;
}

.boton{
  background-color: #F11585;
  border: none;
  text-align: center; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
}

.blog{
  width: 418px;
  height: 40px;
  border: none;
  color: white;
}

.newsLetter{
  background-color: #fdbfde;
  text-align: center;
  height: 285px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloNL{
  font-size: 40px;
  font-family: "regard";
  font-weight: 900;
  padding-bottom: 5px;
}

.textoNL{
  width: 852px;
  font-size: 20px;
  padding-bottom: 30px;
}

.newsLetter form{
  display: flex;
}

.email{
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  width: 357px;
  height: 50px;
  padding-left: 10px;
}

.subs{
  border: none;
  width: 170px;
  height: 50px;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  padding: 50px 0px;
  flex-wrap: wrap;
}

.infoFooter{
  width: 217px;
}

.infoFooter h6{
  font-size: 22px;
  padding-bottom: 25px;
}

.espacioRedes{  
  display: flex;
  width: 201px;
  justify-content: space-between;
}

.redes{
  font-size: 39px;
}

footer a{
  color: white;
  font-size: 18px;
}

footer li{    
  padding-bottom: 13px;
}

footer p{
  text-align: center;
  padding-bottom: 21px;
}


/* CATEGORIAS */

.banner{
    background-image: url("../imagenes/banner.png");
    height: 588px;
    background-position: center;
    background-size: cover;
}

.migas{    
    margin: 30px 40px;
    grid-area: migas;
}

.breadcrumb{
  --bs-breadcrumb-divider-color: #F11585;
  --bs-breadcrumb-item-active-color: #F11585;
}

.headerCategoria{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 30px 40px;
}

.tituloPagina{
    font-family: "regard";
    font-weight: 900;
    font-size: 32px;
}

.cajaFyO{
    display: flex;
    width: 348px;
    justify-content: space-between;
}

.filtro{
    font-size: 14px;
    width: 93px;
    height: 30px;
}

.ordenar{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #F11585;
    border: solid 2px #F11585;
    outline: none;
    width: 240px;
    height: 30px;
}

.contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 40px;
}

.aire{
    margin-bottom: 35px;
}

.mostrando{
    margin: 10px 40px 38px 40px;
    font-size: 14px;
    text-align: center;
}

/* PRODUCTO */

.gridProducto{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
  "header header"
  "migas migas"
  "fotosProductos infoProducto"
  "sobreProducto especificaciones"
  "gustarte gustarte"
  "footer footer";
}

.fotosProductos{
  grid-area: fotosProductos;
  margin-left: 40px;
  justify-self: end;
}

.fotoGrande{
  padding-bottom: 20px;
}

.fotosSecundarias{
  display: flex;
  justify-content: space-between;
}

.areaProductos{
  grid-area: infoProducto;
  margin: 0px 40px 0px 30px;
  width: 420px;
}

.infoProducto{
  position: relative;
}

.tituloProducto{
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 25px;
  width: 92%;
}

.iconoFav{
  font-weight: 700;
  font-size: 32px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.precio{
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 20px;
}

.infoProducto p{
  padding-bottom: 25px;
}

.circulo{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 10px;
}

#c1{
  background-color: rgb(244, 124, 186);
}

#c2{
  background-color: rgb(195, 234, 247);
}

#c3{
  background-color: rgb(166, 249, 166);
}

#c4{
  background-color: rgb(241, 197, 116);
}

#c5{
  background-color: rgb(240, 108, 108);
}

.elegir{
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding-top: 12px;    
  padding-bottom: 12px;
}

.formato{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #F11585;
  border: solid 2px #F11585;
  width: 202px;
  height: 38px;
  margin-bottom: 25px;
  outline: none;
}

.cajaCarrito{    
  display: flex;    
}

.contador{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #F11585;
  border: solid 2px #F11585;
  width: 93px;
  height: 50px;
  padding-left: 10px;
  outline: none;
}

.carrito{
  height: 50px;
  width: 310px;
  font-size: 20px;
  margin-left: 15px;
}

.descripcion{
  font-size: 18px;
  padding-bottom: 20px;
  width: 390px;
}

.icono{
  width: 24px;
  height: 24px;
}

.sobreProducto{
  display: flex;
  align-items: center;
  margin: 35px 0px 20px 40px;
  width: 818px;
  grid-area: sobreProducto;
  justify-self: end;
}

.tamanioDescripcion{  
  width: 744px;
}

.pantallaNo{
  display: none;
}

.especificaciones{
  display: flex;
  margin: 35px 40px 35px 30px;
  grid-area: especificaciones;
}

.especificacionItem{
  display: flex;
  width: 420px;
}

.icono{
  margin-right: 15px;
}

.aireProducto{
  margin-bottom: 35px;
  grid-area: gustarte;
}

/* BLOG */

.gridBlog{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 
  "header header"
  "migas migas"
  "articulos categorias"
  "paginacion ."
  "footer footer";
}

.articulosBlog{
  grid-area: articulos;
  margin-left: 40px;    
  justify-self: end;
}

.contenedorArticulos{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
  width: 1039px;
}

.tarjetaArticulop{
  width: 336px;
  position: relative;
}

.tarjetaArticulop a img{
  padding-bottom: 18px;
}

.tarjetaArticulop h5{
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 12px;
}

.textoTarjetaP{
  padding-bottom: 12px;
  width: 325px;
}

.categorias{
  width: 190px;
  grid-area: categorias;
  display: inline-block;
  margin: 76px 40px 0px 40px;
  font-size: 22px;
}

.categorias h4{
  padding-bottom: 20px;
  font-weight: 900;
}

.categorias a{
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 15px;
}

.paginacion{
  grid-area: paginacion;
  margin: 0px 0px 35px 40px;
}

.paginacion ul{
  display: flex;
  justify-content: center;
}

.paginacion ul li{
  display: flex;
  border: solid 1px #F11585;
  border-radius: 50px;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.pagActual{
  background-color: #F11585;
  color: white;
}

/* ARTÍCULO BLOG */

.gridArticulo{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 
  "header header"
  "migas migas"
  "contenido articulosRyD"
  "comentarios articulosRyD"
  "footer footer";
}

.articuloBlog{
  grid-area: contenido;
  justify-self: end;
  width: 893px;
  margin-left: 40px;
}

.tituloArticulo{
  margin-bottom: 15px;
}

.tituloArticulo h1{
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 10px;
}

.infoArticulo{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.infoFoto{
  font-size: 14px;
  margin: 10px 0px 30px 0px;
}

.textoArticulo{
  font-size: 18px;
  margin-bottom: 30px;
}

.textoArticulo p{
  padding-bottom: 15px;
}

.articulosRyD{
  grid-area: articulosRyD;
  margin: 71px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.articulosR h3, .articulosD h3{
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.articulosR{
  margin-bottom: 20px;
}

.comentarios{
  grid-area: comentarios;
  width: 893px;
  margin-left: 40px;
  justify-self: end;
}

.comentarios h4{
  font-size: 28px;
  font-weight: 700;
}

.comentario{
  display: flex;
  margin: 15px 0px;
  border-bottom: solid 1px #F11585;
}

.comentarioUltimo{
  display: flex;
  margin-top: 15px;
}

.comentario img, .comentarioUltimo img{
  width: 93px;
  height: 93px;
  border-radius: 50px;
  margin-right: 15px;
}

.nombreComentario{
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 15px;
}

.textoComentario{
  font-size: 16px;
  padding-bottom: 15px;
}

.fechaComentario{
  font-size: 12px;
  padding-bottom: 10px;
}

.enviarComentario{
  width: 893px;
  background-color: #FFA6D3;
  color: #F11585;
  margin-bottom: 40px;
  padding: 35px 30px 35px 30px;
}

.enviarComentario h4{
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
}

.enviarComentario p{
  padding-bottom: 20px;
}

.enviarComentario h6{
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}

.dejarComentario{
  margin-bottom: 15px;
  padding: 18px 0px 0px 18px;
  height: 185px;
  width: 833px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  resize: none;
}

.bArticulo{
  margin-left: 631px;
  width: 202px;
  height: 40px;
  border: none;
  color: white;
  font-size: 18px;
}

/* CONTACTO */

.gridContacto{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 
  "header header"
  "infoContacto enviarContacto"
  "newsLetter newsLetter"
  "footer footer";
}

.infoContacto{
  grid-area: infoContacto;
  justify-self: end;
  width: 528px;
  margin: 37px 40px 37px 40px;
}

.tituloContacto{
  padding-bottom: 13px;
  font-family: "Regards";
  font-weight: 900;
  font-size: 40px;
}

.infoContacto h3{
  padding-bottom: 10px;
  font-weight: 700;
}

.infoContacto p{
  padding-bottom: 42px;
}

.enviarContacto{
  grid-area: enviarContacto;
  width: 502px;
  margin: 37px 40px 37px 50px;
  align-self: end;
}

.contactoSubTitulo{
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 24.7px;
}

.enviarContacto h4{
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}

.enviarContacto form input{
  border: solid 1px #F11585;
  margin-bottom: 24.7px;
  padding-left: 15px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;    
  height: 38px;
}

.nYaInput{
  width: 502px;
}

.emailTel{
  display: flex;
  justify-content: space-between;
}

.emailContacto, .telContacto{
  width: 246px;
}

.mensajeContacto{
  border: solid 1px #F11585;
  margin-bottom: 24.7px;
  outline: none;
  padding-left: 15px;
  padding-top: 15px;
  width: 502px;
  height: 82px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  resize: none;
}

.enviarBoton{
  font-family: 'Montserrat', sans-serif;
  border: none;
  width: 202px;
  height: 40px;
  cursor: pointer;
}

.nLcontacto{
  grid-area: newsLetter;
}


@media screen and (max-width: 500px){

  /* INDEX */
  .oferta{
    padding: 8px 30px;
    text-align: center;
    font-size: 16px;
  }  
  
  .navCategorias{
    justify-content: space-between;
    width: 100%;
    padding-right: 10px;
  }

  .navbar-nav{
    justify-content: start;
    padding: 30px 0px;
    width: 70%;
    height: 100vh;
    background-color: white;
  }

  .navbar-toggler{
    border: none;
    color: #F11585;
    padding-left: 20px;  
    order: -3;
  }
  
  .navbar-toggler:focus{
    box-shadow: none;
  }

  .navbar-nav form input, .navbar-nav form button{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-control{
    border: 1px solid #FFA6D3;
    margin: 0px 0px 0px 10px;
    color: #F11585;
  }
  
  .form-control:focus{
    border: 1px solid #F11585;        
    box-shadow: none;
  }

  .btn-outline-success{
    border: none;
    margin: 0px 10px 0px 0px;
    color: #FFA6D3;        
    --bs-btn-color: white;
    --bs-btn-hover-color: #F11585;
    --bs-btn-hover-bg: white;
    --bs-btn-active-bg: #F11585;
  }

  .menu{
    padding: 0px 20px 0px 0px;
    height: 55px;
    width: 85%;
    justify-content: space-between;
  }

  .user, .fav, .search{    
    display: none;
  }
  
  .logo{
    order: -1;
  }

  .logo img{
    width: 180px;
  }

  .search{
    justify-content: end;
    margin-left: 25px;
    width: 24px;
  }
  
  .iconosMenu{
    width: 24px;
    justify-content: end;    
  }

  .bannerPrincipal{
    height: 648px;
  }
  
  .flechasBanner{
    display: none;
  }
  
  #tarjetaBanner-1{
    background-image: url("../imagenes/bannerLargo.png");
  }
  
  #tarjetaBanner-2{
    background-image: url("../imagenes/bannerLargo.png");
  }
  
  #tarjetaBanner-3{
    background-image: url("../imagenes/bannerLargo.png");
  }
  
  .seccionProductos{
    margin: 0px 0px;
  }

  .titulo{
    font-size: 28px;
  }

  .artProductos{
    justify-content: center;
    gap: 0px 15px;
    flex-wrap: wrap;
    margin: 0px 20px 15px 20px;
  }

  .producto{
    width: 220px; 
    margin-bottom: 15px;
    font-size: 14px;
  }

  .producto img{    
    width: 220px; 
  }

  .tituloFrase{
    font-size: 28px;
    padding: 0px 20px 25px 20px;
  }

  .textoFrase{
    font-size: 14px;    
    padding: 0px 20px;
  }

  .info{
    height: 100%;
    margin: 0px 20px;
    flex-wrap: wrap;
    gap: 15px 20px;
  }
  
  .infoTarjeta{
    width: 150px;
    height: 130px;
    font-size: 14px;
    margin: 0px 0px;
  }
  
  .infoTarjeta img{
    width: 70px;
  }

  .articulosSecc{
    margin: 0px;
    justify-content: center;
    overflow: hidden;
  }
  
  .tarjetaArticulo{
    width: 220px;
    margin: 0px 10px;
  }
  
  .tarjetaArticulo a img, .tarjetaArticulop a img{
    width: 220px;
    padding-bottom: 10px;
  }
  
  .tarjetaArticulo h5, .tarjetaArticulop h5{
    font-size: 19px;
  }
  
  .textoTarjeta, .textoTarjetaP{
    width: 220px;
    font-size: 14px;
  }
  
  .leerMas{
    font-size: 14px;
  }
  
  .fecha{
    height: 45px;
    width: 45px;
    top: 20px;
    line-height: 0px;
  }
  
  .fecha1{
    font-size: 18px;
  }
  
  .fecha2{
    font-size: 14px;
  }
  
  .botonBlog{
    margin: 30px 20px;
  }
  
  .blog{
    width: 100%;
  }
  
  .newsLetter{
    padding: 0px 20px;
  }
  
  .tituloNL{
    width: 100%;
    font-size: 32px;
  }
  
  .textoNL{
    width: 100%;
    font-size: 14px;
    padding-bottom: 25px;
  }

  .newsLetter form{
    justify-content: space-between;
    width: 100%;
    margin: 0px 20px;
  }
  
  .email{
    width: 100%;
    height: 40px;
  }
  
  .subs{
    max-width: 100%;
    height: 40px;
    font-size: 16px;
  }
  
  .footer{
    margin: 0px 20px;
    padding: 30px 0px 15px 0px;
  }
  
  .infoFooter{
    margin-bottom: 25px;
  }
  
  .infoFooter h6{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .redes{
    font-size: 35px;
  }
  
  footer a{
    font-size: 16px;
    font-weight: 500;
  }
  
  footer li{    
    padding-bottom: 10px;
  }
  
  footer p{
    font-size: 14px;
    font-weight: 500;
  }
  

  /* CATEGORIAS */

  .banner{
    background-image: url("../imagenes/bannerLargo.png");
    height: 648px;
  }
  
  .migas{    
    margin: 15px 20px;
  }

  .headerCategoria{
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 20px;
  }

  .tituloPagina{
    text-align: center;
    margin-bottom: 10px;
  }

  .contenedorProductos{
    margin: 0px 20px;
  }

  .aire{
    margin-bottom: 20px;
  }

  .mostrando{
    margin: 10px 20px 28px 20px;
  }

  /* PRODUCTO */

  .gridProducto{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
    "header"
    "migas"
    "fotosProductos"
    "infoProducto"
    "sobreProducto"
    "especificaciones"
    "gustarte"
    "footer";
  }

  .fotosProductos{    
    width: 460px;
    margin: 20px 0px;
    justify-self: center;
  }

  .fotoGrande{
    width: 460px;
    padding-bottom: 0px;
  }

  .fotoGrande img{    
    width: 460px;
    height: 600px;
  }

  .fotosSecundarias{
    display: none;
  }

  .areaProductos{
    margin: 0px 20px 0px 20px;
    width: 460px;
  }

  .tituloProducto{
    font-size: 30px;
    padding-bottom: 15px;
  }

  .iconoFav{
    font-size: 30px;
  }

  .precio{
    font-size: 30px;
    padding-bottom: 15px;
  }

  .formato{
    width: 255px;
  }

  .cajaCarrito{
    display: flex;
    flex-direction: column;
  }

  .contador{
    margin-bottom: 15px;
  }

  .carrito{
    width: 460px;
    margin-left: 0px;
  }

  .descripcion{
    width: 420px;
    font-size: 16px;
  }

  .sobreProducto{
    margin: 40px 20px 15px 20px;
    width: 460px;
    justify-self: start;
  }

  .tamanioDescripcion{
    width: 460px;
  }

  .vaLeerMas{
    display: none;
  }

  .pantallaNo{
    display: flex;
    background-color: white;
    color: #F11585;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
  }

  .especificaciones{
    margin: 20px 20px 10px 20px;
  }

  .aireProducto{
    margin-bottom: 20px;
  }

  .gustarte{
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    margin: 0px;
  }

  .gustarteCel{
    margin-left: 15px;
  }

  .gustarteCelNo{
    display: none;
  }

  /* BLOG */

  .gridBlog{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "header"
    "migas"
    "articulos"
    "paginacion"
    "categorias"
    "footer";
  }
  
  .articulosBlog{
    margin-left: 20px;
    margin-top: 10px;
    justify-self: start;
  }
  
  .contenedorArticulos{
    margin: 20px 0px;
    width: 460px;
  }
  
  .tarjetaArticulop{
    width: 220px;
  }
  
  .paginacion{
    margin: 0px 20px 35px 20px;
  }
  
  .paginacion ul{
    width: 460px;
  }
  
  .categorias{
    margin: 0px 20px 15px 20px;
    font-size: 18px;
  }
  
  .categorias a{
    font-size: 14px;
  }

  /* ARTÍCULO BLOG */

  .gridArticulo{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "header"
    "migas"
    "contenido"
    "comentarios"
    "articulosRyD"
    "footer";
  }
  
  .articuloBlog{
    justify-self: start;
    width: 460px;
    margin: 0px 20px;
  }
  
  .tituloArticulo h1{
    font-size: 32px;
    padding-bottom: 20px;
  }

  .infoArticulo p{
    font-size: 14px;
  }

  .compartirArticulo{
    font-size: 30px;
  }

  .fotoArticulo{
    width: 460px;
  }
  
  .textoArticulo{
    font-size: 16px;
  }
  
  .comentarios{
    width: 460px;
    margin: 0px 20px;
    justify-self: start;
  }
  
  .comentario img, .comentarioUltimo img{
    width: 70px;
    height: 70px;
  }
  
  .textoComentario{
    font-size: 14px;
  }

  .enviarComentario{
    width: 460px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .dejarComentario{
    width: 420px;
  }
  
  .bArticulo{
    margin-left: 0px;
    width: 420px;
  }
  
  .articulosRyD{
    margin: 20px 20px 0px 20px;
  }
  
  .articulosR, .articulosD{
    width: 460px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .articulosR h3, .articulosD h3{
    width: 460px;
  }

  /* CONTACTO */

  .gridContacto{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "header"
    "infoContacto"
    "enviarContacto"
    "newsLetter"
    "footer";
  }

  .infoContacto{
    justify-self: start;
    width: 460px;
    margin: 25px 20px;
  }
  
  .infoContacto p{
    padding-bottom: 35px;
  }
  
  .enviarContacto{
    width: 460px;
    margin: 25px 20px 37px 20px;
    align-self: flex-start;
  }

  .enviarContacto form input{
    font-size: 12px;
  }
  
  .nYaInput{
    width: 460px;
  }
  
  .emailContacto, .telContacto{
    width: 222.5px;
  }
  
  .mensajeContacto{
    width: 460px;
    font-size: 12px;
  }
  
  .enviarBoton{
    width: 460px;
    height: 40px;
    cursor: pointer;
  }
}


@media screen and (min-width: 501px) and (max-width: 1199px){

  /* INDEX */  
  .navCategorias{
    justify-content: space-between;
    padding-right: 10px;
  }

  .navbar-nav{
    justify-content: start;
    padding: 30px 0px;
    height: 100vh;
    background-color: white;
  }

  .navbar-toggler{
    border: none;
    color: #F11585;
    padding-left: 20px;  
    order: -3;
  }
  
  .navbar-toggler:focus{
    box-shadow: none;
  }

  .navbar-nav form input, .navbar-nav form button{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-control{
    border: 1px solid #FFA6D3;
    margin: 0px 0px 0px 10px;
    color: #F11585;
  }
  
  .form-control:focus{
    border: 1px solid #F11585;        
    box-shadow: none;
  }

  .btn-outline-success{
    border: none;
    margin: 0px 10px 0px 0px;
    color: #FFA6D3;        
    --bs-btn-color: white;
    --bs-btn-hover-color: #F11585;
    --bs-btn-hover-bg: white;
    --bs-btn-active-bg: #F11585;
  }

  .menu{
    padding: 0px 20px 0px 0px;
    height: 55px;
    width: 85%;
    justify-content: space-between;
  }

  .user, .fav, .search{
    display: none;
  }
  
  .logo{
    order: -1;
  }

  .logo img{
    width: 180px;
  }

  .search{
    justify-content: end;
    margin-left: 25px;
    width: 24px;
  }
  
  .iconosMenu{
    width: 24px;
    justify-content: end;    
  }
  
  .flechasBanner{
    display: none;
  }
  
  .seccionProductos{
    margin: 0px 0px;
  }

  .artProductos{
    justify-content: space-evenly;
    gap: 0px 15px;
    flex-wrap: wrap;
    margin: 0px 20px 15px 20px;
  }

  .producto{
    width: 220px; 
    margin-bottom: 15px;    
    font-size: 14px;
  }

  .producto img{    
    width: 220px; 
  }

  .tituloFrase{
    font-size: 28px;
    padding: 0px 20px 25px 20px;
  }

  .textoFrase{
    max-width: 837px;
    font-size: 16px;    
    padding: 0px 20px;
  }

  .info{
    height: 100%;
    margin: 20px 20px;
    flex-wrap: wrap;
    gap: 15px 20px;
    justify-content: space-evenly;
  }
  
  .infoTarjeta{
    margin: 0px 20px;
  }

  .articulosSecc{
    margin: 0px;
    justify-content: center;
    overflow: hidden;
  }
  
  .tarjetaArticulo{
    margin: 0px 10px;
  }
  
  .tarjetaArticulo a img, .tarjetaArticulop a img{
    padding-bottom: 10px;
  }
  
  .tituloNL{
    width: 100%;
    font-size: 32px;
  }
  
  .textoNL{
    width: 100%;
    font-size: 14px;
    padding-bottom: 25px;
  }
  
  .email{
    width: 95%;
    height: 40px;
  }
  
  .subs{
    max-width: 100%;
    height: 40px;
    font-size: 16px;
  }
  
  .footer{
    gap: 25px 15px;
  }

  /* CATEGORIAS */  
  .migas{    
    margin: 15px 20px;
  }

  .headerCategoria{
    flex-wrap: wrap;
    margin: 25px 20px;
  }

  .contenedorProductos{
    justify-content: space-evenly;
    margin: 0px 20px;
    gap: 	0px 15px;
  }

  .aire{
    margin-bottom: 20px;
  }

  .mostrando{
    margin: 10px 20px 28px 20px;
  }


  /* ARTÍCULO BLOG */  
  .gridArticulo{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "header header"
    "migas migas"
    "contenido articulosRyD"
    "comentarios comentarios"
    "footer footer";
  }

  .articuloBlog{
    width: 460px;
    margin: 0px 20px;
  }
  
  .tituloArticulo h1{
    font-size: 32px;
    padding-bottom: 20px;
  }

  .infoArticulo p{
    font-size: 14px;
  }

  .compartirArticulo{
    font-size: 30px;
  }

  .fotoArticulo{
    width: 460px;
  }
  
  .textoArticulo{
    font-size: 16px;
  }
  
  .comentarios{
    justify-self: center;
    margin: 0px 20px;
  }
  
  .comentario img, .comentarioUltimo img{
    width: 70px;
    height: 70px;
  }
  
  .textoComentario{
    font-size: 14px;
  }

  .enviarComentario{
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .bArticulo{
    margin-left: 651px;
  }
  
  .articulosRyD{
    width: 336px;
    margin: 20px 20px 0px 20px;
  }
  
  .articulosR, .articulosD{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  /* CONTACTO */

  .infoContacto{
    width: 460px;
    margin: 25px 20px;
  }
  
  .infoContacto p{
    padding-bottom: 35px;
  }
  
  .enviarContacto{
    width: 460px;
    margin: 25px 20px 37px 20px;
  }

  .enviarContacto form input{
    font-size: 12px;
  }
  
  .nYaInput{
    width: 460px;
  }
  
  .emailContacto, .telContacto{
    width: 222.5px;
  }
  
  .mensajeContacto{
    width: 460px;
    font-size: 12px;
  }
  
  .enviarBoton{
    width: 460px;
    height: 40px;
  }
}