* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Regard";
  src: url(../fonts/Regards.ttf);
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #F11585;
  font-weight: 600;
}

button, a, p, ul, h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

p, ul {
  margin-bottom: 0rem;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  display: block;
  text-align: start;
}

a {
  text-decoration-line: none;
  color: #F11585;
}

header {
  grid-area: header;
  box-shadow: 0px -20px 50px #F11585;
  overflow: hidden;
  width: 100%;
}

.oferta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F11585;
  color: white;
  font-size: 18px;
  padding: 8px 40px;
}

.navCategorias {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  font-size: 18px;
}
.navCategorias .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  width: 100%;
  height: 80px;
  background-color: white;
  font-size: 24px;
}
.navCategorias .menu .search {
  width: 93px;
}
.navCategorias .menu .search .modalBuscador {
  padding: 20px;
  border: none;
}
.navCategorias .menu .search .modalBuscador .form-control {
  border: 1px solid #fdbfde;
  color: #F11585;
}
.navCategorias .menu .search .modalBuscador .form-control:focus {
  border: 1px solid #F11585;
  box-shadow: none;
}
.navCategorias .menu .search .modalBuscador .formButton {
  border: none;
  color: #F11585;
  --bs-btn-color: white;
  --bs-btn-hover-color: $colorPrincipal;
  --bs-btn-hover-bg: white;
  --bs-btn-active-bg: $colorPrincipal;
}
.navCategorias .menu .logo {
  align-items: center;
}
.navCategorias .menu .iconosMenu {
  display: flex;
  justify-content: space-between;
  width: 93px;
}
.navCategorias .navbar-nav {
  justify-content: space-between;
  width: 100%;
  padding: 0px 40px 0px 0px;
}
.navCategorias .navbar-nav form .form-control, .navCategorias .navbar-nav form .formButton {
  display: none;
}
.navCategorias .navbar-nav .nav-link {
  margin: 0px 20px;
  color: #F11585;
}
.navCategorias .navbar-nav .nav-link:hover {
  padding: 0px 10px;
}

.carousel-indicators .b {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #F11585;
}

.carousel-item img {
  width: 1370px;
  height: 592px;
  object-fit: cover;
}

.flechasBanner {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  color: #F11585;
  font-size: 35px;
}

.flechaD {
  justify-content: end;
}

.banner img {
  width: 100%;
  height: 592px;
  object-fit: cover;
}

.migas {
  margin: 30px 40px;
  grid-area: migas;
}
.migas .breadcrumb {
  --bs-breadcrumb-divider-color: #F11585;
  --bs-breadcrumb-item-active-color: #F11585;
}

.newsLetter {
  background-color: #fdbfde;
  text-align: center;
  height: 285px;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.newsLetter .tituloNL {
  font-size: 40px;
  font-family: "Regard";
  font-weight: 900;
  padding-bottom: 5px;
}
.newsLetter .textoNL {
  width: 852px;
  font-size: 20px;
  padding-bottom: 30px;
}
.newsLetter .formSubs {
  display: flex;
}
.newsLetter .formSubs .email {
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  width: 357px;
  height: 50px;
  padding-left: 10px;
}
.newsLetter .formSubs .subs {
  background-color: #F11585;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  border: none;
  width: 170px;
  height: 50px;
}

footer {
  grid-area: footer;
  background-color: #F11585;
  color: white;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  padding: 50px 0px;
  flex-wrap: wrap;
}
footer .footer .infoFooter {
  width: 220px;
}
footer .footer .infoFooter h6 {
  font-size: 22px;
  padding-bottom: 25px;
  font-weight: 600;
}
footer a {
  color: white;
  font-size: 18px;
}
footer li {
  padding-bottom: 13px;
  font-weight: 500;
}
footer .piePagina {
  text-align: center;
  padding-bottom: 21px;
}

.espacioRedes {
  display: flex;
  justify-content: space-between;
  width: 201px;
}
.espacioRedes .redes {
  font-size: 39px;
}

.gridProducto {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header header" "migas migas" "fotosProductos infoProducto" "sobreProducto especificaciones" "gustarte gustarte" "footer footer";
}

.gridBlog {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header" "migas migas" "articulos categorias" "paginacion ." "footer footer";
}

.gridArticulo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header" "migas migas" "contenido articulosRyD" "comentarios articulosRyD" "footer footer";
}

.gridContacto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header header" "infoContacto enviarContacto" "newsLetter newsLetter" "footer footer";
}

.headerIndex {
  margin-bottom: 25px;
}

.seccionProductos {
  margin: 0px 40px 30px 40px;
}

.producto a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 306px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
}
.producto a img {
  width: 306px;
  height: 372px;
  object-fit: cover;
  overflow: hidden;
}
.producto a img:hover {
  transform: scale(1.2);
  padding-bottom: 31px;
}
.producto a p, .producto a ul {
  padding-top: 8px;
  width: 95%;
  font-weight: 700;
}

.titulo {
  font-family: "Regard";
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  padding: 20px 0px;
}

.artProductos {
  display: flex;
  justify-content: space-between;
}

.frase {
  background-color: #F11585;
  text-align: center;
  min-height: 295px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.frase .tituloFrase {
  font-family: "Regard";
  font-weight: 800;
  font-size: 40px;
  padding: 0px 0px 25px 0px;
}
.frase .textoFrase {
  font-size: 20px;
  padding: 0px 40px;
  max-width: 967px;
  font-weight: 400;
}

.info {
  height: 266px;
  margin: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info .infoTarjeta {
  height: 156px;
  width: 169px;
  text-align: center;
  margin: 0px 40px;
}
.info .infoTarjeta img {
  margin-bottom: 21px;
  width: 95px;
  height: 95px;
  object-fit: cover;
  border-radius: 50px;
}
.info .infoTarjeta h4 {
  font-weight: 700;
}

.carruselBlog .titulo {
  font-family: "Regard";
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  padding: 20px 0px;
}
.carruselBlog .carousel-inner .seccionArticulos .articulosSecc {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
}
.carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulo {
  width: 413px;
  position: relative;
  overflow: hidden;
}
.carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulo a img {
  padding-bottom: 18px;
  width: 100%;
  height: 249px;
  object-fit: cover;
}
.carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulo h5 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 12px;
}
.carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulo .textoTarjeta {
  width: 413px;
  padding-bottom: 12px;
}
.carruselBlog .botonBlog {
  margin: 30px 40px;
  display: flex;
  justify-content: center;
}
.carruselBlog .botonBlog .blog {
  background-color: #F11585;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  width: 418px;
  height: 40px;
  border: none;
  color: white;
}

.fecha {
  height: 60px;
  width: 60px;
  background-color: #fdbfde;
  color: #F11585;
  position: absolute;
  top: 30px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.fecha .fecha1 {
  font-size: 27px;
}
.fecha .fecha2 {
  font-size: 19px;
}

.leerMas {
  font-weight: 700;
}

section .headerCategoria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px 30px 40px;
}
section .headerCategoria .cajaFyO {
  display: flex;
  justify-content: space-between;
  width: 348px;
}
section .headerCategoria .cajaFyO div .filtro {
  background-color: #F11585;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  font-size: 14px;
  width: 93px;
  height: 30px;
}
section .headerCategoria .cajaFyO div .offcanvas {
  border: 1px solid #F11585;
}
section .headerCategoria .cajaFyO div .offcanvas .offcanvas-header .offcanvas-title {
  color: #F11585;
  font-weight: 700;
  font-size: 24px;
}
section .headerCategoria .cajaFyO div .offcanvas .offcanvas-header .botonCerrar {
  background-color: white;
  color: #F11585;
  border: none;
  font-size: 18px;
}
section .headerCategoria .cajaFyO div .offcanvas .offcanvas-body {
  padding: 0px 16px 16px 16px;
}
section .headerCategoria .cajaFyO div .offcanvas .offcanvas-body div h3 {
  color: #F11585;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 8px;
}
section .headerCategoria .cajaFyO div .offcanvas .offcanvas-body div div {
  padding-bottom: 30px;
}
section .headerCategoria .cajaFyO div .offcanvas .offcanvas-body .precioOffCanvas {
  display: flex;
  gap: 10px;
  width: 210px;
  flex-wrap: wrap;
}
section .headerCategoria .cajaFyO div .offcanvas .offcanvas-body .precioOffCanvas input {
  width: 90px;
  font-size: 14px;
  border: 1px solid #F11585;
  padding: 5px;
  outline: none;
}
section .headerCategoria .cajaFyO div .offcanvas .offcanvas-body .precioOffCanvas p, section .headerCategoria .cajaFyO div .offcanvas .offcanvas-body .precioOffCanvas ul {
  color: #F11585;
}
section .headerCategoria .cajaFyO div .offcanvas .offcanvas-body .precioOffCanvas .okBoton {
  background-color: #F11585;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  width: 50px;
  height: 30px;
}
section .headerCategoria .cajaFyO div .offcanvas .botonOffCanvas {
  display: flex;
  padding: 16px 16px;
  justify-content: center;
}
section .headerCategoria .cajaFyO div .offcanvas .botonOffCanvas .productosOffCanvas {
  background-color: #F11585;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  height: 50px;
  width: 366px;
}
section .headerCategoria .cajaFyO div .ordenar {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #F11585;
  border: solid 2px #F11585;
  border-radius: 7px;
  outline: none;
  width: 240px;
  height: 30px;
}
section .tituloPagina {
  font-family: "Regard";
  font-weight: 900;
  font-size: 32px;
}
section .contenedorProductos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 40px;
}
section .aire {
  margin-bottom: 35px;
}
section .mostrando {
  margin: 10px 40px 38px 40px;
  font-size: 14px;
  text-align: center;
}

.fotosProductos {
  grid-area: fotosProductos;
  margin-left: 40px;
  justify-self: end;
}
.fotosProductos .fotoGrande {
  width: 818px;
  height: 566px;
  overflow: hidden;
  padding-bottom: 20px;
}
.fotosProductos .fotoGrande img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fotosProductos .fotosSecundarias {
  display: flex;
  gap: 15px;
  overflow: hidden;
}
.fotosProductos .fotosSecundarias img {
  width: 193px;
  height: 193px;
  object-fit: cover;
}
.fotosProductos #bannerProducto {
  display: none;
}

.areaProductos {
  grid-area: infoProducto;
  margin: 0px 40px 0px 30px;
  width: 420px;
}
.areaProductos .infoProducto {
  position: relative;
}
.areaProductos .infoProducto .iconoFav {
  font-weight: 700;
  font-size: 32px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.areaProductos .infoProducto .precio {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 20px;
}
.areaProductos .infoProducto .descripcionInfo {
  padding-bottom: 25px;
}
.areaProductos .infoProducto div div .formato {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #F11585;
  border: solid 2px #F11585;
  width: 202px;
  height: 38px;
  margin-bottom: 25px;
  outline: none;
}
.areaProductos .infoProducto div .cajaCarrito {
  display: flex;
}
.areaProductos .infoProducto div .cajaCarrito .contador {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #F11585;
  border: solid 2px #F11585;
  width: 93px;
  height: 50px;
  padding-left: 10px;
  outline: none;
}
.areaProductos .infoProducto div .cajaCarrito .carrito {
  background-color: #F11585;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  height: 50px;
  width: 310px;
  font-size: 20px;
  margin-left: 15px;
}

.circulo {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 10px;
}

.tituloProducto {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 25px;
  width: 92%;
}

.elegir {
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
}

#c1 {
  background-color: rgb(248, 166, 255);
}

#c2 {
  background-color: rgb(195, 234, 247);
}

#c3 {
  background-color: rgb(153, 248, 220);
}

#c4 {
  background-color: rgb(241, 197, 116);
}

#c5 {
  background-color: rgb(250, 121, 160);
}

#c6 {
  background-color: rgb(0, 0, 0);
}

.sobreProducto {
  grid-area: sobreProducto;
  display: flex;
  align-items: center;
  margin: 35px 0px 20px 40px;
  width: 818px;
  justify-self: end;
}
.sobreProducto article .tamanioDescripcion {
  width: 744px;
}
.sobreProducto article .pantallaNo {
  display: none;
}

.descripcion {
  font-size: 18px;
  padding-bottom: 20px;
  width: 390px;
}

.especificaciones {
  grid-area: especificaciones;
  display: flex;
  margin: 35px 40px 35px 30px;
}
.especificaciones article .especificacionItem {
  display: flex;
  width: 420px;
}
.especificaciones article .especificacionItem .icono {
  margin-top: 2px;
  margin-right: 15px;
}

.aireProducto {
  grid-area: gustarte;
  margin-top: 25px;
  margin-bottom: 35px;
}

.articulosBlog {
  grid-area: articulos;
  margin-left: 40px;
  justify-self: end;
}
.articulosBlog .contenedorArticulos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 1039px;
}

.tarjetaArticulop {
  width: 336px;
  position: relative;
}
.tarjetaArticulop a img {
  padding-bottom: 18px;
  width: 100%;
  height: 201px;
  object-fit: cover;
}
.tarjetaArticulop h5 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 12px;
}
.tarjetaArticulop .textoTarjetaP {
  font-size: 14px;
  padding-bottom: 12px;
  width: 325px;
}
.tarjetaArticulop .fecha {
  height: 50px;
  width: 50px;
}
.tarjetaArticulop .fecha .fecha1 {
  font-size: 22px;
}
.tarjetaArticulop .fecha .fecha2 {
  font-size: 16px;
}

.categorias {
  grid-area: categorias;
  display: inline-block;
  width: 190px;
  margin: 65px 40px 0px 40px;
  font-size: 22px;
}
.categorias h2 {
  padding-bottom: 20px;
  font-weight: 900;
}
.categorias a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
}
.categorias a:hover {
  padding: 10px;
}

.paginacion {
  grid-area: paginacion;
  margin: 0px 0px 35px 40px;
}
.paginacion ul {
  display: flex;
  justify-content: center;
}
.paginacion ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #F11585;
  border-radius: 50px;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}

.pagActual {
  background-color: #F11585;
  color: white;
}

.articuloBlog {
  grid-area: contenido;
  justify-self: end;
  width: 893px;
  margin-left: 40px;
}
.articuloBlog .tituloArticulo {
  margin-bottom: 15px;
}
.articuloBlog .tituloArticulo h1 {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 10px;
}
.articuloBlog .tituloArticulo .infoArticulo {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.articuloBlog section .fotoArticulo {
  width: 893px;
  height: 601px;
  object-fit: cover;
}
.articuloBlog section .infoFoto {
  font-size: 12px;
  margin: 10px 0px 30px 0px;
}
.articuloBlog .textoArticulo {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}
.articuloBlog .textoArticulo h2 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 15px;
}
.articuloBlog .textoArticulo p, .articuloBlog .textoArticulo ul {
  padding-bottom: 30px;
}
.articuloBlog .textoArticulo p a, .articuloBlog .textoArticulo ul a {
  text-decoration-line: underline;
}
.articuloBlog .textoArticulo div img {
  width: 893px;
  height: 601px;
  object-fit: cover;
  padding-bottom: 35px;
}
.articuloBlog .textoArticulo ul li {
  padding-bottom: 15px;
}

.articulosRyD {
  grid-area: articulosRyD;
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}
.articulosRyD .articulosR {
  margin-bottom: 20px;
}

.articulosR h3, .articulosD h3 {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.comentarios {
  grid-area: comentarios;
  width: 893px;
  margin-left: 40px;
  justify-self: end;
}
.comentarios h4 {
  font-size: 28px;
  font-weight: 700;
}
.comentarios .comentario {
  display: flex;
  margin: 15px 0px;
  border-bottom: solid 1px #F11585;
}
.comentarios .comentarioUltimo {
  display: flex;
  margin-top: 15px;
}
.comentarios .comentario img, .comentarios .comentarioUltimo img {
  width: 93px;
  height: 93px;
  border-radius: 50px;
  margin-right: 15px;
}

.nombreComentario {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 15px;
}

.textoComentario {
  font-size: 16px;
  padding-bottom: 15px;
  font-weight: 400;
}

.fechaComentario {
  font-size: 12px;
  padding-bottom: 10px;
  font-weight: 400;
}

.enviarComentario {
  width: 893px;
  background-color: #fdbfde;
  color: #F11585;
  margin-bottom: 40px;
  padding: 35px 30px 35px 30px;
}
.enviarComentario h4 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
}
.enviarComentario p, .enviarComentario ul {
  padding-bottom: 20px;
}
.enviarComentario h6 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.enviarComentario form .dejarComentario {
  margin-bottom: 15px;
  padding: 18px 0px 0px 18px;
  height: 185px;
  width: 833px;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  resize: none;
}
.enviarComentario form .bArticulo {
  background-color: #F11585;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  margin-left: 631px;
  width: 202px;
  height: 40px;
  border: none;
  color: white;
  font-size: 18px;
}

.infoContacto {
  grid-area: infoContacto;
  justify-self: end;
  width: 528px;
  margin: 37px 40px 37px 40px;
}
.infoContacto .tituloContacto {
  padding-bottom: 13px;
  font-family: "Regard";
  font-weight: 900;
  font-size: 40px;
}
.infoContacto .datosContacto {
  padding-bottom: 42px;
}
.infoContacto .tituloDatos {
  padding-bottom: 10px;
  font-weight: 700;
}

.enviarContacto {
  grid-area: enviarContacto;
  width: 502px;
  margin: 37px 40px 37px 50px;
  align-self: end;
}
.enviarContacto .contactoSubTitulo {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 24.7px;
}
.enviarContacto form div .nYaInput {
  width: 502px;
}
.enviarContacto form .emailTel {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.enviarContacto form .emailTel div .emailContacto, .enviarContacto form .emailTel div .telContacto {
  width: 246px;
}
.enviarContacto form div .mensajeContacto {
  border: solid 1px #F11585;
  margin-bottom: 24.7px;
  outline: none;
  padding-left: 15px;
  padding-top: 15px;
  width: 502px;
  height: 82px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  resize: none;
}
.enviarContacto form input {
  border: 1px solid #F11585;
  margin-bottom: 24.7px;
  padding-left: 15px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  height: 38px;
}
.enviarContacto form .enviarBoton {
  background-color: #F11585;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  border: none;
  width: 202px;
  height: 40px;
  cursor: pointer;
}

.tituloEnviarMensaje {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}

.nLcontacto {
  grid-area: newsLetter;
}

@media screen and (max-width: 500px) {
  .body {
    font-size: 14px;
  }
  .oferta {
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
  }
  .navCategorias {
    justify-content: space-between;
  }
  .navCategorias .menu {
    padding: 0px 20px 0px 0px;
    height: 55px;
    width: 80%;
  }
  .navCategorias .menu .logo img {
    width: 180px;
  }
  .navCategorias .menu .iconosMenu {
    width: 24px;
    justify-content: end;
  }
  .navCategorias .menu .user, .navCategorias .menu .fav, .navCategorias .menu .search {
    display: none;
  }
  .navCategorias .navbar-toggler {
    border: none;
    color: #F11585;
    padding-left: 20px;
    order: -3;
  }
  .navCategorias .navbar-toggler:focus {
    box-shadow: none;
  }
  .navCategorias .navbar-nav {
    justify-content: start;
    padding: 30px 0px;
    width: 80%;
    height: 100vh;
    background-color: white;
  }
  .navCategorias .navbar-nav form .form-control, .navCategorias .navbar-nav form .formButton {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .navCategorias .navbar-nav form .form-control {
    border: 1px solid #fdbfde;
    margin: 0px 0px 15px 20px;
    color: #F11585;
    width: 250px;
  }
  .navCategorias .navbar-nav form .form-control:focus {
    border: 1px solid #F11585;
    box-shadow: none;
  }
  .navCategorias .navbar-nav form .formButton {
    border: none;
    margin: 0px 10px 0px 0px;
    color: #fdbfde;
    --bs-btn-color: white;
    --bs-btn-hover-color: $colorPrincipal;
    --bs-btn-hover-bg: white;
    --bs-btn-active-bg: $colorPrincipal;
  }
  .navCategorias .navbar-nav .nav-link:hover {
    padding: 0px;
  }
  .carousel-indicators {
    margin-bottom: 5px;
  }
  #bannerPrincipal .carousel-item {
    height: 500px;
  }
  #bannerPrincipal .carousel-item img {
    height: 500px;
  }
  .flechasBanner {
    display: none;
  }
  .migas {
    display: none;
  }
  .newsLetter {
    padding: 30px 20px;
    height: auto;
  }
  .newsLetter .tituloNL {
    width: 100%;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .newsLetter .textoNL {
    width: 100%;
    font-size: 18px;
    padding-bottom: 25px;
  }
  .newsLetter .formSubs {
    justify-content: space-between;
    width: 100%;
    margin: 0px 20px;
  }
  .newsLetter .formSubs .email {
    width: 100%;
    height: 40px;
    font-size: 12px;
  }
  .newsLetter .formSubs .subs {
    max-width: 100%;
    height: 40px;
    padding: 0px 5px;
    font-size: 16px;
  }
  footer .footer {
    margin: 0px 20px;
    padding: 30px 0px 15px 0px;
  }
  footer .footer .infoFooter {
    margin-bottom: 25px;
  }
  footer .footer .infoFooter h6 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  footer a {
    font-size: 16px;
    font-weight: 500;
  }
  footer li {
    padding-bottom: 10px;
  }
  footer .piePagina {
    font-size: 14px;
    font-weight: 500;
  }
  .espacioRedes .redes {
    font-size: 35px;
  }
  .gridProducto {
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header" "fotosProductos" "infoProducto" "sobreProducto" "especificaciones" "gustarte" "footer";
  }
  .gridBlog {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header" "articulos" "paginacion" "categorias" "footer";
  }
  .gridArticulo {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header" "contenido" "comentarios" "articulosRyD" "footer";
  }
  .gridContacto {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header" "infoContacto" "enviarContacto" "newsLetter" "footer";
  }
  .seccionProductos {
    margin: 0px;
  }
  .producto a {
    width: 185px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .producto a img {
    width: 185px;
    height: auto;
  }
  .producto a img:hover {
    transform: none;
    padding-bottom: 0px;
  }
  .producto a p, .producto a ul {
    font-size: 13px;
  }
  .titulo {
    font-size: 28px;
  }
  .artProductos {
    justify-content: center;
    gap: 0px 15px;
    flex-wrap: wrap;
    margin: 0px 20px 15px 20px;
  }
  .frase .tituloFrase {
    font-size: 28px;
    padding: 0px 20px 25px 20px;
  }
  .frase .textoFrase {
    font-size: 14px;
    padding: 0px 20px;
  }
  .info {
    height: 100%;
    margin: 0px 20px;
    flex-wrap: wrap;
    gap: 15px 20px;
  }
  .info .infoTarjeta {
    width: 150px;
    font-size: 14px;
    margin: 0px;
  }
  .carruselBlog .carousel-inner .seccionArticulos {
    height: auto;
  }
  .carruselBlog .carousel-inner .seccionArticulos .articulosSecc {
    margin: 0px;
    gap: 10px;
    padding: 0px 15px;
  }
  .carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulo {
    width: 220px;
  }
  .carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulo .textoTarjeta, .carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulo .textoTarjetaP {
    width: auto;
    font-size: 14px;
  }
  .carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulo a img, .carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulop a img {
    width: 220px;
    height: 133px;
    padding-bottom: 10px;
  }
  .carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulo h5, .carruselBlog .carousel-inner .seccionArticulos .articulosSecc .tarjetaArticulop h5 {
    font-size: 17px;
  }
  .carruselBlog .carousel-inner .seccionArticulos .articulosSecc .noEnCel {
    display: none;
  }
  .carruselBlog .botonBlog {
    margin: 30px 20px;
  }
  .carruselBlog .botonBlog .blog {
    width: 100%;
    font-size: 16px;
  }
  .fecha {
    height: 45px;
    width: 45px;
    top: 20px;
  }
  .fecha .fecha1 {
    font-size: 18px;
  }
  .fecha .fecha2 {
    font-size: 14px;
  }
  .leerMas {
    font-size: 14px;
  }
  section .headerCategoria {
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 20px;
  }
  section .headerCategoria .cajaFyO {
    justify-content: center;
    gap: 10px;
  }
  section .headerCategoria .cajaFyO div .filtro {
    width: 50px;
  }
  section .headerCategoria .cajaFyO div .ordenar {
    width: 220px;
  }
  section .headerCategoria .cajaFyO div .offcanvas {
    width: 320px;
  }
  section .headerCategoria .cajaFyO div .offcanvas .botonOffCanvas .productosOffCanvas {
    width: 288px;
  }
  section .tituloPagina {
    text-align: center;
    margin-bottom: 10px;
  }
  section .contenedorProductos {
    margin: 0px 20px;
    justify-content: center;
    gap: 0px 15px;
  }
  section .contenedorProductos .producto {
    width: 185px;
  }
  section .aire {
    margin-bottom: 0px;
  }
  section .mostrando {
    margin: 10px 20px 28px 20px;
    font-size: 12px;
  }
  .fotosProductos {
    width: 100%;
    margin: 0px;
    padding-bottom: 20px;
    justify-self: center;
  }
  .fotosProductos .fotoGrande {
    display: none;
  }
  .fotosProductos .fotosSecundarias {
    display: none;
  }
  .fotosProductos #bannerProducto {
    display: flex;
  }
  .areaProductos {
    margin: 0px;
    padding: 0px 20px;
    width: 100%;
  }
  .areaProductos .infoProducto .iconoFav {
    font-size: 28px;
  }
  .areaProductos .infoProducto .precio {
    font-size: 28px;
    padding-bottom: 15px;
  }
  .areaProductos .infoProducto div div .formato {
    width: 255px;
  }
  .areaProductos .infoProducto div .cajaCarrito {
    flex-direction: column;
  }
  .areaProductos .infoProducto div .cajaCarrito .contador {
    margin-bottom: 15px;
    height: 40px;
  }
  .areaProductos .infoProducto div .cajaCarrito .carrito {
    width: 100%;
    margin-left: 0px;
  }
  .tituloProducto {
    font-size: 28px;
    padding-bottom: 15px;
  }
  .sobreProducto {
    margin: 0px;
    padding: 40px 20px 15px 20px;
    width: 100%;
    justify-self: start;
  }
  .sobreProducto article .tamanioDescripcion {
    width: 100%;
  }
  .sobreProducto article .vaLeerMas {
    display: none;
  }
  .sobreProducto article .pantallaNo {
    display: flex;
    background-color: white;
    color: #F11585;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
  }
  .descripcion {
    width: 100%;
    font-size: 16px;
  }
  .especificaciones {
    margin: 0px;
    padding: 20px 20px 10px 20px;
  }
  .especificaciones article .especificacionItem {
    width: 100%;
  }
  .aireProducto {
    padding-top: 20px;
  }
  .articulosBlog {
    padding: 25px 20px 0px 20px;
    margin: 0px;
    justify-self: start;
  }
  .articulosBlog .contenedorArticulos {
    justify-content: center;
    gap: 25px 15px;
    margin: 0px;
    padding: 20px 0px;
    width: 100%;
  }
  .tarjetaArticulop {
    width: 185px;
  }
  .tarjetaArticulop a img {
    width: 185px;
  }
  .tarjetaArticulop .textoTarjetaP {
    width: 185px;
  }
  .categorias {
    margin: 0px;
    padding: 0px 20px 15px 20px;
    font-size: 18px;
  }
  .categorias a {
    font-size: 14px;
  }
  .paginacion {
    width: 100%;
    margin: 0px;
    padding: 0px 20px 35px 20px;
  }
  .paginacion ul {
    width: 100%;
  }
  .paginacion ul li {
    width: 30px;
    height: 30px;
  }
  .articuloBlog {
    justify-self: start;
    width: 100%;
    margin: 0px;
    padding: 25px 20px 0px 20px;
  }
  .articuloBlog .tituloArticulo h1 {
    font-size: 32px;
    padding-bottom: 20px;
  }
  .articuloBlog .tituloArticulo .infoArticulo {
    gap: 15px;
  }
  .articuloBlog .tituloArticulo .infoArticulo p, .articuloBlog .tituloArticulo .infoArticulo ul {
    font-size: 14px;
  }
  .articuloBlog .tituloArticulo .infoArticulo .espacioRedes .compartirArticulo {
    font-size: 30px;
  }
  .articuloBlog section {
    width: 100%;
  }
  .articuloBlog section .fotoArticulo {
    width: 100%;
    height: 450px;
  }
  .articuloBlog .textoArticulo {
    font-size: 16px;
  }
  .articuloBlog .textoArticulo h2 {
    font-size: 18px;
  }
  .articuloBlog .textoArticulo p, .articuloBlog .textoArticulo ul {
    width: 100%;
    padding-bottom: 20px;
  }
  .articuloBlog .textoArticulo div img {
    width: 100%;
    height: auto;
  }
  .articulosRyD {
    margin: 0px;
    padding: 20px 20px 15px 20px;
  }
  .articulosRyD .articulosR, .articulosRyD .articulosD {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .articulosR h3, .articulosD h3 {
    width: 100%;
  }
  .comentarios {
    width: 100%;
    margin: 0px;
    padding: 0px 20px;
    justify-self: start;
  }
  .comentarios .comentario img, .comentarios .comentarioUltimo img {
    width: 70px;
    height: 70px;
  }
  .nombreComentario {
    padding-bottom: 5px;
  }
  .textoComentario {
    font-size: 14px;
  }
  .enviarComentario {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }
  .enviarComentario form .dejarComentario {
    width: 100%;
  }
  .enviarComentario form .bArticulo {
    margin-left: 0px;
    width: 100%;
  }
  .infoContacto {
    justify-self: start;
    width: 100%;
    padding: 25px 20px;
    margin: 0px;
  }
  .infoContacto .datosContacto {
    padding-bottom: 35px;
  }
  .enviarContacto {
    width: 100%;
    margin: 0px;
    padding: 25px 20px 37px 20px;
    align-self: flex-start;
  }
  .enviarContacto form div .nYaInput {
    width: 100%;
  }
  .enviarContacto form .emailTel div .emailContacto, .enviarContacto form .emailTel div .telContacto {
    width: 100%;
  }
  .enviarContacto form div .mensajeContacto {
    width: 100%;
    font-size: 12px;
    padding: 7px 0px 0px 7px;
  }
  .enviarContacto form input {
    font-size: 12px;
    padding-left: 7px;
  }
  .enviarContacto form .enviarBoton {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
