.headerIndex{
  margin-bottom: 25px;
}

.seccionProductos{
  margin: 0px 40px 30px 40px;
}

.producto a{
  display: flex;
  @include column-center;
  width: 306px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;

  img{
    width: 306px;
    height: 372px;
    object-fit: cover;
    overflow: hidden;
  
    &:hover{
      transform: scale(1.2);
      padding-bottom: 31px;
    }
  }

  p{
    padding-top: 8px;
    width: 95%;
    font-weight: 700;
  }
}

.titulo{
  @include titulo;
}

.artProductos{
  @include flex-between;
  flex-wrap: wrap;
  gap: 15px;
}

.frase{
  background-color: $colorPrincipal;
  text-align: center;
  min-height: 295px;
  color: $letrasBlancas;
  @include flex-center;
  @include column-center;

  .tituloFrase{
    font-family: $fuenteSecundaria;  
    font-weight: 800;
    font-size: 40px;
    padding: 0px 0px 25px 0px;
  }

  .textoFrase{
    font-size: 20px;
    padding: 0px 40px;
    max-width: 967px;
    font-weight: 400;
  }
}


.info{
  height: 266px;
  margin: $margenPagina;
  @include flex-center;
  align-items: center;

  .infoTarjeta{
    height: 156px;
    width: 169px;
    text-align: center;
    margin: $margenPagina;

    img{
      margin-bottom: 21px;
      width: 95px;
      height: 95px;
      object-fit: cover;
      border-radius: 50px;
    }

    h4{  
      font-weight: 700;
    }
  }
}

.carruselBlog{
  .titulo{
    @include titulo;
  }

  .carousel-inner .seccionArticulos{
    .articulosSecc{
      @include flex-between;
      margin: $margenPagina;
    
      .tarjetaArticulo{
        width: 413px;
        position: relative;
        overflow: hidden;
    
        a img{
          padding-bottom: 18px;
          width: 100%;
          height: 249px;
          object-fit: cover;
        }
    
        h5{
          font-weight: 700;
          font-size: 20px;
          padding-bottom: 12px;
        }
    
        .textoTarjeta{
          width: 413px;
          padding-bottom: 12px;
        }
      }
    }  
  }

  .botonBlog{
    margin: 30px 40px;
    @include flex-center;
  
    .blog{
      @include boton;
      width: 418px;
      height: 40px;
      border: none;
      color: $letrasBlancas;
    }
  }
}

.fecha{
  height: 60px;
  width: 60px;
  background-color: $colorSecundario;
  color: $colorPrincipal;
  position: absolute;
  top: 30px;
  line-height: 1.2;
  @include flex-center;
  @include column-center;

  .fecha1{
    font-size: 27px;
  }
  
  .fecha2{
    font-size: 19px;
  }
}

.leerMas{
  font-weight: 700;
}